
<%- include('partials/header') %>

<form method="POST" action="/login">
  <label for="login">Pseudo</label>
  <input id="login" type="text" name="login">
  <input type="submit" value="Connexion">
</form>

<h2>Bienvenue sur le trombinoscope de l'école O'clock</h2>
<a href="/promos">Voir la liste de promos</a>

<%- include('partials/footer') %>